<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
	{include file="common/js" /}
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">			
			<link href="{$Think.config.web_res_root}mgr/css/friendlink/add.css" rel="stylesheet" />
			<div class="row" id="add_table">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							其他相关 - <span class="table_title">添加友情链接</span>
							<a type="button" class="btn btn-success btn-xs main-pjax-btn btn-change" href="{$Think.config.web_root}mgr/friendlink/show">友情链接</a>
						</div>
                        <div class="panel-body">
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>名称：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入名称" id="name" name="name" />												
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>排序：</label>
											</td>
											<td>
												<input class="form-control" id="sort" name="sort" type="number" value="0" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>URL：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入URL" id="url" name="url" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>图片类型：</label>
											</td>
											<td>
												<div class="form-group is_picture">
													<label class="radio-inline">
														<input type="radio" name="is_picture" id="is_picture_0" value="0" />文字链接
													</label>
													<label class="radio-inline">
														<input type="radio" name="is_picture" id="is_picture_1" value="1" checked="checked" />图片链接
													</label>
												</div>												
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>图片URL：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入图片URL" id="picture" name="picture" />
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="hidden" id="id" name="id" value="0" />
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="添加" />
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
<script>

function show_picture_row(is_picture_val) {
	
	if(is_picture_val == 1) {
		$("#picture").parent().parent().show();
	}
	else {
		$("#picture").parent().parent().hide();
	}
}

$(function() {
	
	$("input[name='is_picture']").change(function() {
		show_picture_row($(this).val());
	});
	show_picture_row($("input[name = 'is_picture']:checked").val());
	
	$("#main_form").validate({
		rules: {
			name: {
				required: true
			},
			sort: {
				required: true,
				digits: true
			},
			url: {
				required: true,
				url:true
			},
			picture: {
				url:true
			}
		},
		messages: {
			name: {
				required: "没有填写名称"
			},
			sort: {
				required: "没有填写排序",
				number: "请输入整数"
			},
			url: {
				required: "没有填写URL",
				url: "没有填写正确的URL"
			},
			picture: {
				url: "没有填写正确的URL"
			}
		},
		submitHandler: function(form) {
			
			var data = {
				id: $("#id").val(),
				name: $("#name").val(),
				sort: $("#sort").val(),
				url: $("#url").val(),
				is_picture: $("input[name = 'is_picture']:checked").val(),
				picture: $("#picture").val(),
			};
			
			$.ajax({
				url: cfg.web_root + "mgr/friendlink/add",
				type: "post",
				dataType: "json",
				data: data,
				beforeSend: function() {
					$("#btn_submit").attr("disabled", true);
				},
				success: function(res, status) {
					if(res.code == 0) {
						$("#btn_getlist").get(0).click();						
					}
					else {
						$("#dialog_alert").find(".modal-body").html(res.msg);
						$("#dialog_alert").modal("show");
					}
				},
				complete: function() {
					$("#btn_submit").attr("disabled", false);
				}
			});
			
			return false;
		}
	});
	
});

</script>
        </div>
    </div>
	<script src="{$Think.config.web_res_root}mgr/js/common.js"></script>
</body>

</html>
