
@import "../common/base.css";

#viewtable {
	width: 75%;	
}

#viewtable .viewtable_title {
	width: 30%;
	height: 30px;
	text-align: right;
	padding-right: 40px
}

#spent_row {
	text-align: center
}

.error_div {
	color: red;
	font-weight: bold;
}
