<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Simple/View/Common/header.html" />	
	<link href="{$Think.config.WEB_RES_ROOT}simple/css/admin/art_single_get.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
		<include file="./Application/Simple/View/Common/dialog.html" />
		
        <!-- Navigation -->
        <include file="./Application/Simple/View/Common/navbar.html" />

        <div id="page-wrapper">
            <!-- 内容部分 -->
			
			<div class="row" id="first_row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">编辑-{$data.name}</div>
                        <div class="panel-body">
                            <div class="form-group">
								<textarea id="content" name="content">{$data.content}</textarea>
							</div>
							<div class="form-group" id="btn_submit_div">
								<input id="id" name="id" type="hidden" value="{$data.id}" />
								<button type="button" id="btn_submit" class="btn btn-outline btn-primary">更新</button>
							</div>
                        </div>
                    </div>
                </div>              				
            </div>
			
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<script src="{$Think.config.WEB_RES_ROOT}simple/js/require.min.js" data-main="{$Think.config.WEB_RES_ROOT}simple/js/admin/art_single_get"></script>
	
</body>

</html>
