<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Simple/View/Common/header.html" />	
	<link href="{$Think.config.WEB_RES_ROOT}simple/css/admin/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
		<include file="./Application/Simple/View/Common/dialog.html" />
		
        <!-- Navigation -->
        <include file="./Application/Simple/View/Common/navbar.html" />

        <div id="page-wrapper">
            <!-- 内容部分 -->
			
			<div class="row" id="first_row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">主机探针</div>
                        <div class="panel-body">
                            
							<table id="viewtable">
								<tr>
									<td class="viewtable_title">服务器（IP）</td>
									<td>{$server_name}</td>
								</tr>								
								<tr>
									<td class="viewtable_title">操作系统</td>
									<td>{$os}</td>
								</tr>
								<tr>
									<td class="viewtable_title">服务器软件</td>
									<td>{$server_software}</td>
								</tr>
								<tr>
									<td class="viewtable_title">PHP版本</td>
									<td>{$php_version}</td>
								</tr>
								<tr>
									<td class="viewtable_title">ThinkPHP版本</td>
									<td>{$thinkphp_ver}</td>
								</tr>
								<tr>
									<td class="viewtable_title">上传文件大小</td>
									<td>{$upload_file_status}</td>
								</tr>
								<tr>
									<td class="viewtable_title">脚本超时</td>
									<td>{$max_execution_time} 秒</td>
								</tr>
								<tr>
									<td class="viewtable_title">网站路径</td>
									<td>{$document_root}</td>
								</tr>
								<tr>
									<td class="viewtable_title">服务器时间</td>
									<td>{$now}</td>
								</tr>
							</table>
							
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                				
            </div>
						
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	
	<script src="{$Think.config.WEB_RES_ROOT}simple/js/require.min.js" data-main="{$Think.config.WEB_RES_ROOT}simple/js/admin/main"></script>
</body>

</html>