<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
	<link href="{$Think.config.web_res_root}simple/css/dataclass/getlist.css" rel="stylesheet" type="text/css" />	
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">
			
			<div class="row" id="first_row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">分类列表</div>
                        <div class="panel-body">
							<input type="hidden" id="type" name="type" value="{$Think.request.type}" />
							<ul class="list-unstyled" id="datalist"></ul>							
						</div>
					</div>
				</div>
			</div>			
        </div>
    </div>
	{include file="common/js" /}			
	<script src="{$Think.config.web_res_root}simple/js/dataclass/getlist.js"></script>
</body>
</html>
