@import "../common/base.css";

.content-body {
	display: inline-block;
	width: 79%;
	vertical-align: top;
	padding: 5px 15px;
	
}

#product_list {
	width: 100%;
	padding: 0;
	margin: 0;	
}

#product_list li {
	background-color: #fff;
	border: 1px #fff solid;
	width: 22.5%;
	padding: 10px;
	margin: 10px;	
}

#product_list li .product-img {
	width: 187px;
	height: 187px;
}

#product_list li .product-name {
	margin-top: 5px;
	text-align: center;
}
