		<div id="page_footer">
			<div class="page-footer-nav-div">
				<ul class="page-footer-nav">
					<li><a href="{$Think.config.web_root}site/index/index">首页</a></li>
					<li><a href="{$Think.config.web_root}site/index/art?id=1">关于我们</a></li>
					<li><a href="{$Think.config.web_root}site/index/newsList">新闻中心</a></li>
					<li><a href="{$Think.config.web_root}site/index/productList">产品中心</a></li>
					<li><a href="{$Think.config.web_root}site/index/art?id=3">人才招聘</a></li>
					<li><a href="{$Think.config.web_root}site/index/art?id=4">解决方案</a></li>
					<li><a href="{$Think.config.web_root}site/index/art?id=5">联系我们</a></li>
				</ul>
			</div>
			<div class="page-footer-copyright">
				{$art_8}
			</div>
		</div>