		<div id="page_header">
			<div class="page-header-top">
				<table>
					<tbody>
						<tr>
							<td class="logo-td">
								<!-- <a href="{$Think.config.web_root}site/index/index"><img src="{$Think.config.web_res_root}site/images/logo.png" class="logo" /></a> -->
							</td>
							<td class="pull-right">
								<div class="pull-right-nav">
									<a href="{$Think.config.web_root}site/index/index">官网首页</a> | 
									<a href="#" id="btn_set_home">设为首页</a> | 
									<a href="#" id="add_favorite">收藏本站</a>
								</div>
								<div class="pull-right-search-div">
									<input type="text" id="text_search" name="text_search" class="" value="{php}if(isset($_REQUEST['search'])) echo $_REQUEST['search'];{/php}" />
									<button class="btn-search" id="btn_search">搜索</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-header-nav-div">
				<ul class="page-header-nav">
					<li {if condition="!isset($page_header_nav_selected) || $page_header_nav_selected == 1"}class="selected"{/if}><a href="{$Think.config.web_root}site/index/index">首页</a></li>
					<li {if condition="isset($page_header_nav_selected) && $page_header_nav_selected == 2"}class="selected"{/if}><a href="{$Think.config.web_root}site/index/art?id=1">关于我们</a></li>
					<li {if condition="isset($page_header_nav_selected) && $page_header_nav_selected == 3"}class="selected"{/if}><a href="{$Think.config.web_root}site/index/newsList">新闻中心</a></li>
					<li {if condition="isset($page_header_nav_selected) && $page_header_nav_selected == 4"}class="selected"{/if}><a href="{$Think.config.web_root}site/index/productList">产品中心</a></li>
					<li {if condition="isset($page_header_nav_selected) && $page_header_nav_selected == 5"}class="selected"{/if}><a href="{$Think.config.web_root}site/index/art?id=3">人才招聘</a></li>
					<li {if condition="isset($page_header_nav_selected) && $page_header_nav_selected == 6"}class="selected"{/if}><a href="{$Think.config.web_root}site/index/art?id=4">解决方案</a></li>
					<li {if condition="isset($page_header_nav_selected) && $page_header_nav_selected == 7"}class="selected"{/if}><a href="{$Think.config.web_root}site/index/art?id=5">联系我们</a></li>
				</ul>
			</div>			
		</div>