				<div class="leftmenu">
					<div class="list-div">
						<div class="menu-title">产品类别</div>
						<ul class="product-class-list">
							{volist name="product_class_list" id="v" key="k" empty="暂时没有数据"}
							<li {if condition="$k == count($product_class_list)"}class="last"{/if}>
								
								<a href="{$Think.config.web_root}site/index/productList?data_class_id={$v.id}">{$v.name}</a>
							</li>
							{/volist}
						</ul>
					</div>
					<div class="list-div">
						<div class="menu-title">推荐产品</div>
						<ul class="product-list">
							{volist name="product_list_recommend" id="v" key="k" empty="暂时没有数据"}
							<li {if condition="$k == count($product_list_recommend)"}class="last"{/if}>
								<a href="productView?id={$v.id}" target="_blank">								
									<img src="{$Think.config.web_res_root}{$v.picture}" />
									<span>{$v.name}</span>
								</a>
							</li>
							{/volist}
						</ul>
					</div>					
					<div class="list-div">
						<div class="menu-title">行业新闻</div>
						<ul class="new-list">
							{volist name="news_list_recommend" id="v" key="k" empty="暂时没有数据"}
							<li {if condition="$k == count($news_list_recommend)"}class="last"{/if}>
								<a href="newsView?id={$v.id}" target="_blank">{$k}.{$v.name}</a>							
							</li>
							{/volist}
						</ul>
					</div>
					<div class="list-div">
						<div class="menu-title">联系我们</div>
						<div class="leftmenu-contact-div">
							{$art_7}
						</div>
					</div>
				</div>