<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">			
			<div class="row" id="getlist_table">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	用户管理 - <span class="table_title">管理员列表</span>
							<button type="button" class="btn btn-success btn-xs" id="btn_add">添加管理员</button>
                        </div>
                        <div class="panel-body">							
							<div class="table-responsive">
                                <table class="table table-hover" id="datalist">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>用户名</th>
                                            <th>加入时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>										
                                    </tbody>
                                </table>
                            </div>							
							<div id="page_nav">
								<span id="page_index">页次 <span id="page">1</span> / <span id="page_count">10</span></span>
								<button class="btn btn-outline btn-link" type="button" id="page_first">首页</button>
								<button class="btn btn-outline btn-link" type="button" id="page_prev">上一页</button>
								<button class="btn btn-outline btn-link" type="button" id="page_next">下一页</button>
								<button class="btn btn-outline btn-link" type="button" id="page_last">末页</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>			
			
			<div class="row" id="add_table">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	用户管理 - <span class="table_title">添加管理员</span>
							<button type="button" class="btn btn-success btn-xs" id="btn_getlist">管理员列表</button>
						</div>
                        <div class="panel-body">
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>用户名：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入用户名" id="name" name="name" />												
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>密码：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入确认密码" type="password" id="pwd" name="pwd" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>确认密码：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入确认密码" type="password" id="pwd2" name="pwd2" />
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="hidden" id="id" name="id" />
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="添加" />
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
					
        </div>
    </div>
	{include file="common/js" /}
	<script src="{$Think.config.web_res_root}mgr/js/user/show.js"></script>
</body>
</html>
