<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">			
			<div class="row" id="first_row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">修改密码</div>
                        <div class="panel-body">                            
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>旧密码：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入旧密码" type="password" id="old_pwd" name="old_pwd" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>新密码：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入新密码" type="password" id="pwd" name="pwd" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>确认密码：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入确认密码" type="password" id="pwd2" name="pwd2" />
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="修改" />
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>							
                        </div>
                    </div>
                </div>             				
            </div>			
        </div>
    </div>
	{include file="common/js" /}			
	<script src="{$Think.config.web_res_root}mgr/js/user/updatepwd.js"></script>
</body>
</html>
