
#main_form table {
	width: 80%;
	
}

#main_form table .title_column {
	width: 30%;
	height: 45px;
	text-align: right;
	padding-right: 40px;
}

#main_form table .form-control {
	width: 60%;
	display: inline;
}

.btn_submit_div {
	padding-top: 20px;
	padding-right: 150px;
	text-align: center;
}
