<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
	{include file="common/js" /}	
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">
			<link href="{$Think.config.web_res_root}mgr/css/data_class/add.css" rel="stylesheet" />
			<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							{$Think.config.data_type_name[$Request.param.type]}分类 - <span class="table_title">添加分类</span>
							<a type="button" class="btn btn-success btn-xs main-pjax-btn btn-change" href="{$Think.config.web_root}mgr/data_class/show?type={$Request.param.type}">分类列表</a>
						</div>
                        <div class="panel-body">
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>名称：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入名称" id="name" name="name" />												
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>排序：</label>
											</td>
											<td>
												<input class="form-control" id="sort" name="sort" type="number" value="0" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>父级分类：</label>
											</td>
											<td>
												<input id="parent_selected" type="hidden" value="0" />
												<div id="parent"></div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="hidden" id="id" name="id" value="{$Request.param.id}" />
													<input type="hidden" id="type" name="type" value="{$Request.param.type}" />
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="添加" />
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
<script>

//无限级下拉框
function req_parent() {
	
	var data = {
		type: $("#type").val()
		
	};
	$.ajax({
		url: cfg.web_root + "mgr/data_class/gettree",
		type: "get",
		dataType: "json",
		data: data,
		beforeSend: function() {
			
		},
		success: function(res, status) {				
			$("#parent").LinkageList(res.data, {
				objId: "parent",
				inputObjId: "parent_id",
				css: "form-control",
				style: "width: 20%; margin-right: 10px;",
				selectedValue: $("#parent_selected").val() == "0" ? null : $("#parent_selected").val()
			});
			
		},
		complete: function() {
			
		}
	});
}

$(function() {
	req_parent();
	
	if($("#id").val() != "0" && $("#id").val() != "") {
		var data = {
			id: $("#id").val()
		};
		$.get(cfg.web_root + "mgr/data_class/get", data, function(res) {
			if(res.code == 0) {
				$("#name").val(res.data.name);
				$("#sort").val(res.data.sort);
				$("#parent_selected").val(res.data.parent_id);
				$("#parent").empty();
				$("#id").val(res.data.id);
				
				$("#btn_submit").val("更新");
				
				req_parent();					
			}
		});
	}
	
	$("#main_form").validate({
		rules: {
			name: {
				required: true
			},
			sort: {
				required: true,
				digits: true
			}				
		},
		messages: {
			name: {
				required: "没有填写名称"
			},
			sort: {
				required: "没有填写排序",
				number: "请输入整数"
			}				
		},
		submitHandler: function(form) {
			
			var data = {
				id: $("#id").val(),
				name: $("#name").val(),
				sort: $("#sort").val(),
				parent_id: $("#parent_id").val(),
				type: $("#type").val()
			};
			
			$.ajax({
				url: cfg.web_root + "mgr/data_class/add",
				type: "post",
				dataType: "json",
				data: data,
				beforeSend: function() {
					$("#btn_submit").attr("disabled", true);
				},
				success: function(res, status) {
					if(res.code == 0) {
						$(".btn-change").get(0).click();
					}
					else {
						$("#dialog_alert").find(".modal-body").html(res.msg);
						$("#dialog_alert").modal("show");		
					}
				},
				complete: function() {
					$("#btn_submit").attr("disabled", false);
				}
			});
			
		}
	});
	
});

</script>

        </div>
    </div>
	<script src="{$Think.config.web_res_root}mgr/js/common.js"></script>
</body>
</html>
