<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">
			
			<div class="row" id="getlist_table">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							{$Think.config.data_type_name[$Request.param.type]}分类 - <span class="table_title">分类列表</span>
							<button type="button" class="btn btn-success btn-xs" id="btn_add">添加分类</button>
						</div>
                        <div class="panel-body">
							<input type="hidden" id="type" name="type" value="{$Request.param.type}" />
							<ul class="list-unstyled" id="datalist"></ul>							
						</div>
					</div>
				</div>
			</div>	

			<div class="row" id="add_table">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							{$Think.config.data_type_name[$Request.param.type]}分类 - <span class="table_title">添加分类</span>
							<button type="button" class="btn btn-success btn-xs" id="btn_getlist">分类列表</button>
						</div>
                        <div class="panel-body">
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>名称：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入名称" id="name" name="name" />												
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>排序：</label>
											</td>
											<td>
												<input class="form-control" id="sort" name="sort" type="number" value="0" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>父级分类：</label>
											</td>
											<td>
												<input id="parent_selected" type="hidden" value="0" />
												<div id="parent"></div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="hidden" id="id" name="id" value="0" />
													<input type="hidden" id="type" name="type" value="{$Request.param.type}" />
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="添加" />
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
			
        </div>
    </div>
	{include file="common/js" /}			
	<script src="{$Think.config.web_res_root}mgr/js/data_class/show.js"></script>
</body>
</html>
