<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		{include file="common/header" /}
		{include file="common/css" /}
		<link href="{$Think.config.web_res_root}simple/css/index/login.css" rel="stylesheet" type="text/css" />		
	</head>
	<body>
		{include file="common/dialog" /}
		<div id="dialog_form" title="请输入验证码" style="display: none"> 
			<form>
				<fieldset>
					<label for="name">验证码</label>
					<input type="text" name="vcode" id="vcode" maxlength="4" class="text ui-widget-content ui-corner-all" />
					<img src="{$Think.config.web_root}simple/index/getvcode" id="vcode_img" />
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px" />
				</fieldset>
			</form>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">用户登录</h3>
						</div>
						<div class="panel-body">
							<form role="form" id="main_form">
								<fieldset>
									<div class="form-group">
										<input class="form-control" placeholder="用户名" name="name" id="name" maxlength="30" type="text" autofocus="autofocus" />
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="密码" name="pwd" id="pwd" maxlength="30" type="password" value="" />
									</div>
									<div class="checkbox">
										<label>
											<input name="remember" id="remember" type="checkbox" value="1" />一周以内免登录
										</label>
									</div>
									<a href="javascript:void(0)" class="btn btn-lg btn-success btn-block" id="btn_submit">登录</a>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
		{include file="common/js" /}			
		<script src="{$Think.config.web_res_root}simple/js/index/login.js"></script>		
	</body>
</html>