		<!-- bootstrap -->
		<link href="{$Think.config.web_res_root}startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="{$Think.config.web_res_root}startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
		<link href="{$Think.config.web_res_root}startbootstrap-sb-admin-2/dist/css/sb-admin-2.min.css" rel="stylesheet" />
		<link href="{$Think.config.web_res_root}startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
		<!-- DataTables CSS -->
		<link href="{$Think.config.web_res_root}startbootstrap-sb-admin-2/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
		<!-- DataTables Responsive CSS -->
		<link href="{$Think.config.web_res_root}startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.scss" rel="stylesheet" />
		
		<link href="//cdn.bootcss.com/jqueryui/1.12.0/jquery-ui.min.css" rel="stylesheet" />
