<div id="page_nav">
	<span id="page_data_total">共<span>{$data.total}</span>条数据</span>
	<span id="page_index">页次 <span id="page">{$data.page}</span> / <span id="page_count">{$data.page_count}</span></span>
	<a class="btn btn-outline btn-link main-pjax-btn" type="button" href="{$page_first}">首页</a>
	<a class="btn btn-outline btn-link main-pjax-btn" type="button" href="{$page_prev}">上一页</a>
	<a class="btn btn-outline btn-link main-pjax-btn" type="button" href="{$page_next}">下一页</a>
	<a class="btn btn-outline btn-link main-pjax-btn" type="button" href="{$page_last}">末页</a>
	跳到<select id="jump_page" class="form-control" style="display: inline-block; width: auto; margin-left: 5px; margin-right: 5px;"></select>页
</div>