<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
	<link href="{$Think.config.web_res_root}simple/css/other/main.css" rel="stylesheet" type="text/css" />	
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">			
			<div class="row" id="first_row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">主机探针</div>
                        <div class="panel-body">                            
							<table id="viewtable">
								<tr>
									<td class="viewtable_title">服务器（IP）</td>
									<td>{$server_name}</td>
								</tr>								
								<tr>
									<td class="viewtable_title">操作系统</td>
									<td>{$os}</td>
								</tr>
								<tr>
									<td class="viewtable_title">服务器软件</td>
									<td>{$server_software}</td>
								</tr>
								<tr>
									<td class="viewtable_title">PHP版本</td>
									<td>{$php_version}</td>
								</tr>
								<tr>
									<td class="viewtable_title">ThinkPHP版本</td>
									<td>{$thinkphp_ver}</td>
								</tr>
								<tr>
									<td class="viewtable_title">上传文件大小</td>
									<td>{$upload_file_status}</td>
								</tr>
								<tr>
									<td class="viewtable_title">脚本超时</td>
									<td>{$max_execution_time} 秒</td>
								</tr>
								<tr>
									<td class="viewtable_title">网站路径</td>
									<td>{$document_root}</td>
								</tr>
								<tr>
									<td class="viewtable_title">服务器时间</td>
									<td>{$now}</td>
								</tr>
							</table>							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{include file="common/js" /}			
	<script src="{$Think.config.web_res_root}simple/js/other/main.js"></script>	
</body>
</html>