<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/header_css" /}
	<link href="{$Think.config.web_res_root}simple/css/art_single/get.css" rel="stylesheet" type="text/css" />
	{include file="common/header_js" /}
	<script src="{$Think.config.web_res_root}simple/js/art_single/get.js"></script>
</head>

<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		
        <!-- Navigation -->
		{include file="common/navbar" /}

        <div id="page-wrapper">
            <!-- 内容部分 -->
			
			<div class="row" id="first_row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">编辑-{$data.name}</div>
                        <div class="panel-body">
                            <div class="form-group">
								<textarea id="content" name="content">{$data.content}</textarea>
							</div>
							<div class="form-group" id="btn_submit_div">
								<input id="id" name="id" type="hidden" value="{$data.id}" />
								<button type="button" id="btn_submit" class="btn btn-outline btn-primary">更新</button>
							</div>
                        </div>
                    </div>
                </div>              				
            </div>
			
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	
</body>

</html>
