<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">			
			<div class="row" id="first_row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="getlist">友情链接列表</a> - 添加/修改</div>
                        <div class="panel-body">                            
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>名称：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入名称" id="name" name="name" value="{$row.name}" />												
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>排序：</label>
											</td>
											<td>
												<input class="form-control" id="sort" name="sort" type="number" value="{$row.sort}" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>URL：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入URL" id="url" name="url" value="{$row.url}" />
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>图片类型：</label>
											</td>
											<td>
												<div class="form-group is_picture">
													<label class="radio-inline">
														<input type="radio" name="is_picture" id="is_picture_0" value="0" {if condition="$row.is_picture eq 0"}checked="checked"{/if} />文字链接
													</label>
													<label class="radio-inline">
														<input type="radio" name="is_picture" id="is_picture_1" value="1" {if condition="$row.is_picture eq 1"}checked="checked"{/if} />图片链接
													</label>
												</div>												
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>图片URL：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入图片URL" id="picture" name="picture" value="{$row.picture}" />
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="hidden" id="id" name="id" value="{$row.id}" />
													{if condition="$row.id eq 0"}
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="添加" />
													{else}
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="更新" />
													{/if}
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>
							
                        </div>
                    </div>
                </div>
            </div>			
        </div>
    </div>
	{include file="common/js" /}			
	<script src="{$Think.config.web_res_root}simple/js/friendlink/add.js"></script>
</body>

</html>
