<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
</head>
<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		{include file="common/navbar" /}
        <div id="page-wrapper">			
			<div class="row" id="first_row">
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							友情链接列表 
							<button class="btn btn-outline btn-default" type="button" id="btnadd">添加</button>
						</div>
                        <div class="panel-body">							
							<div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>网站</th>
                                            <th>链接</th>
											<th>LOGO</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{foreach $data.list as $v} 
                                        <tr>
                                            <td>
												<h5>{$v.id}</h5>
											</td>
                                            <td>
												<h5>{$v.name}</h5>
											</td>
                                            <td>
												<h5>{$v.url}</h5>
											</td>
											<td>
												{if condition="$v.is_picture eq 1"}
												<img src="{$v.picture}" width="88px" height="31px" />
												{else}
												无
												{/if}											
											</td>
                                            <td>
												<button type="button" class="btn btn-link" req-data="id={$v.id}" id="btnedit_{$v.id}">编辑</button>
												<button type="button" class="btn btn-link" req-data="id={$v.id}" id="btndel_{$v.id}">删除</button>
											</td>
                                        </tr>
										{/foreach}
                                    </tbody>
                                </table>
                            </div>
							
						</div>
					</div>
				</div>
			</div>			
        </div>
    </div>
	{include file="common/js" /}			
	<script src="{$Think.config.web_res_root}simple/js/friendlink/getlist.js"></script>
</body>

</html>
