<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>{$Think.config.module_name}</title>
	{include file="common/meta" /}
	{include file="common/css" /}
	<link href="{$Think.config.web_res_root}site/css/index/index.css" rel="stylesheet" />
</head>
<body>
	<div id="page_main">
		{include file="common/header" /}
		<div id="page_body">
			<div id="banner_slider">
				<ul class="bxslider">
					<li><a href="#" target="_blank"><img src="http://img13.360buyimg.com/da/jfs/t3766/257/1617667028/113747/ed374209/582d0572N17db6fec.jpg" /></a></li>
					<li><a href="#" target="_blank"><img src="http://img1.360buyimg.com/da/jfs/t3484/18/1601695659/118343/ee9969d1/582c2295N8f13622c.jpg" /></a></li>
					<li><a href="#" target="_blank"><img src="http://img13.360buyimg.com/da/jfs/t3766/257/1617667028/113747/ed374209/582d0572N17db6fec.jpg" /></a></li>
					<li><a href="#" target="_blank"><img src="http://img1.360buyimg.com/da/jfs/t3484/18/1601695659/118343/ee9969d1/582c2295N8f13622c.jpg" /></a></li>
					<li><a href="#" target="_blank"><img src="http://img13.360buyimg.com/da/jfs/t3766/257/1617667028/113747/ed374209/582d0572N17db6fec.jpg" /></a></li>
					<li><a href="#" target="_blank"><img src="http://img1.360buyimg.com/da/jfs/t3484/18/1601695659/118343/ee9969d1/582c2295N8f13622c.jpg" /></a></li>										
				</ul>
			</div>			
			<div class="page-body-content">
				<div>
					<div class="content-body">
						<div class="title-div">
							<span class="title">公司简介</span>
							<span class="title-en">COMPANY</span>
							<a href="{$Think.config.web_root}site/index/art?id=1" class="more">More</a>
						</div>
						<div class="company-div">
							<img src="{$Think.config.web_res_root}site/images/company_1.png" class="company-img" />
							<div class="company-content">
								{$art_2}
								[<a href="{$Think.config.web_root}site/index/art?id=1">查看详情</a>]
							</div>
						</div>
					</div>
					<div class="content-body">
						<div class="title-div">
							<span class="title">新闻资讯</span>
							<span class="title-en">NEWS</span>
							<a href="{$Think.config.web_root}site/index/newsList" class="more">More</a>
						</div>
						<div class="news-div">
							<table>
								<tbody>
									<tr>
										<td>
											<img src="{$Think.config.web_res_root}site/images/news_1.png" class="news-img" />
										</td>
										<td class="news-top-td">
											<div class="news-top"><a href="{$Think.config.web_root}site/index/newsView?id={$news_list_top.id}" target="_blank"><b>{$news_list_top.name}</b></a></div>
											<div class="news-top">
												{$news_list_top.content}[<a href="{$Think.config.web_root}site/index/newsView?id={$news_list_top.id}" target="_blank">详细</a>]
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<ul class="news-list">
								{volist name="news_list" id="v" key="k" empty="暂时没有数据"}
								<li class="last">
									<span>{$k}.</span>
									<a href="newsView?id={$v.id}" target="_blank">{$v.name}</a>
									<span class="date">{$v.add_time}</span>
								</li>
								{/volist}
							</ul>
						</div>						
					</div>
					<div class="content-body content-body-last">
						<div class="title-div">
							<span class="title">联系我们</span>
							<span class="title-en">CONTACT US</span>
							<a href="{$Think.config.web_root}site/index/art?id=5" class="more">More</a>
						</div>
						{$art_6}
					</div>
				</div>
				<div class="product-list-div">
					<div class="product-list-title">
						<span class="title">产品展示</span>
						<span class="title-en">PRODUCT</span>
						<a href="productList" class="more">More</a>
					</div>

					<div id="product_list">
						<table border="0" align="center" cellpadding="1" cellspacing="1" cellspace="0">
							<tr>
								<td id="product_list1" valign="top" bgcolor="ffffff">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr align="center">
											{foreach name="product_list" item="v"}
											<td>
												<div class="product-list-item">
													<a href="productView?id={$v.id}" target="_blank">
														<img class="product-img" src="{$Think.config.web_res_root}upload/{$v.picture}" />
														<div class="product-name">{$v.name}</div>
													</a>
												</div>
											</td>
											{/foreach}
										</tr>
									</table>
								</td>
								<td id="product_list2" valign="top">
								</td>
							</tr>
						</table>
					</div>
	
				</div>
			</div>
		</div>
		{include file="common/footer" /}
	</div>
	{include file="common/js" /}	
	<script src="{$Think.config.web_res_root}site/js/index/index.js"></script>
	<script src="{$Think.config.web_res_root}site/js/common.js"></script>
</body>
</html>
