<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>{$Think.config.module_name}</title>
	{include file="common/meta" /}
	{include file="common/css" /}
</head>
<body>
	<div id="page_main">
		{include file="common/header" /}
		<div id="page_body">
			<div class="page-body-content">
				<div class="page-body-currnav">当前位置: 首页 &gt; 产品列表</div>
				{include file="common/leftmenu" /}
				<div class="content-body">
					<div>
						<ul id="product_list">
						</ul>
					</div>
				</div>
			</div>			
		</div>
		{include file="common/footer" /}
	</div>
	{include file="common/js" /}	
	<script src="{$Think.config.web_res_root}site/js/index/product_list.js"></script>
</body>
</html>
