<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}
	{include file="common/js" /}
</head>

<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		
        <!-- Navigation -->
		{include file="common/navbar" /}

        <div id="page-wrapper">
            <!-- 内容部分 -->
			<link href="{$Think.config.web_res_root}mgr/css/data/add.css" rel="stylesheet" />			
			<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	{$Think.config.data_type_name[$Request.param.type]}管理 - <span class="table_title">添加{$Think.config.data_type_name[$Request.param.type]}</span>
                            <a type="button" class="btn btn-success btn-xs main-pjax-btn btn-change" href="{$Think.config.web_root}mgr/data/show?type={$Request.param.type}">{$Think.config.data_type_name[$Request.param.type]}列表</a>
                        </div>
                        <div class="panel-body">
                            
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>名称：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入名称" id="name" name="name" />
											</td>
										</tr>										
										<tr {if condition="$Request.param.type != 1"}style="display: none;"{/if}>
											<td class="title_column">
												<label>类别：</label>
											</td>
											<td>
												<input id="dataclass_selected" type="hidden" value="0" />
												<div id="dataclass"></div>
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>排序：</label>
											</td>
											<td>
												<input class="form-control" id="sort" name="sort" type="number" value="0" />
											</td>
										</tr>
										<tr {if condition="$Request.param.type == 2"}style="display: none;"{/if}>
											<td class="title_column">
												<label>图片：</label>
											</td>
											<td id="picture_list">
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>显示：</label>
											</td>
											<td>
												<label class="checkbox-inline">
													<input type="checkbox" name="is_index_show" id="is_index_show" value="1" />首页显示
												</label>
												<label class="checkbox-inline" {if condition="$Request.param.type == 1"}style="display: none;"{/if}>
													<input type="checkbox" name="is_index_top" id="is_index_top" value="1" />顶部显示
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="recommend" id="recommend" value="1" />推荐
												</label>
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>内容：</label>
											</td>
											<td>
												<textarea id="content" name="content"></textarea>							
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="hidden" id="id" name="id" value="{$Request.param.id}" />
													<input type="hidden" id="type" name="type" value="{$Request.param.type}" />
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="添加" />
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>
							
                        </div>
                    </div>
                </div>
            </div>

<script>

//无限级下拉框
function req_dataclass() {
	
	var data = {
		type: $("#type").val()
		
	};
	$.ajax({
		url: cfg.web_root + "mgr/data_class/gettree",
		type: "get",
		dataType: "json",
		data: data,
		beforeSend: function() {
			
		},
		success: function(res, status) {
	
			$("#dataclass").LinkageList(res.data, {
				objId: "dataclass",
				inputObjId: "data_class_id",
				css: "form-control",
				style: "width: 20%; margin-right: 10px;",
				selectedValue: $("#dataclass_selected").val() == "0" ? null : $("#dataclass_selected").val()
			});
			
		},
		complete: function() {
			
		}
	});
}

function upload_btn() {
	//上传
	var btn_upload = null;
	$("input[id ^= 'btn_upload_']").click(function() {
		btn_upload = $(this);
		var id = $(this).attr("id").split("_");
		id = id[id.length - 1];
		$("#file_upload_" + id).click();
	});
	$("input[id ^= 'file_upload_']").fileupload({
		url: cfg.web_root + "mgr/data/upload",
		dataType: 'json',
		done: function(e, data) {
			var id = btn_upload.attr("id").split("_");
			id = id[id.length - 1];
			
			if(data.result.code == 0) {
				$("#picture_" + id).val(data.result.data.filepath);
			}
			else {
				$("#dialog_alert").find(".modal-body").html(data.result.msg);
				$("#dialog_alert").modal("show");
			}				
		},
		progressall: function (e, data) {
			//var progress = parseInt(data.loaded / data.total * 100, 10);
			
		}
	});	
	
	$("button.add").hide();
	$("button.add:last").show();
	if($("button.dec").length == 1)
		$("button.dec").hide();
	
	$("button.add").click(function() {
		var id = "0";
		do {
			id = parseInt(Math.random() * 1000000);
		}
		while($("#picture_" + id).length > 0);
		
		$(this).parent().after($(this).parent().clone(true));
		$(".picture_div").last().find("input[type = 'hidden']").val(id);
		$(".picture_div").last().find("input[id ^= 'picture_']").val("");
		$(".picture_div").last().find(".dec").show();
		
		$(".picture_div").last().find("input[id ^= 'picture_']").each(function() {
			var ids = $(this).attr("id").split("_");
			var tmp = "";
			for(var i = 0; i < ids.length - 1; i++) {
				tmp += ids[i] + "_";
			}
			tmp += id;
			$(this).attr("id", tmp);
			$(this).attr("name", tmp);
		});
		$(".picture_div").last().find("input[id ^= 'btn_upload_']").each(function() {
			var ids = $(this).attr("id").split("_");
			var tmp = "";
			for(var i = 0; i < ids.length - 1; i++) {
				tmp += ids[i] + "_";
			}
			tmp += id;
			$(this).attr("id", tmp);
		});
		$(".picture_div").last().find("input[id ^= 'file_upload_']").each(function() {
			var ids = $(this).attr("id").split("_");
			var tmp = "";
			for(var i = 0; i < ids.length - 1; i++) {
				tmp += ids[i] + "_";
			}
			tmp += id;
			$(this).attr("id", tmp);
			$(this).attr("name", tmp);
		});
		
		$("button.add").hide();
		$("button.add:last").show();
		$("button.dec").show();
	});
	$("button.dec").click(function() {
		$(this).parent().remove();
		
		$("button.add").hide();
		$("button.add:last").show();
		
		if($("button.dec").length == 1)
			$("button.dec").hide();
	});
	//上传 end
}

$(function() {
	
	req_dataclass();
	
	//图片
	$(".picture_div").remove();
	var html = '<div class="picture_div">';
	html += '<input class="form-control" placeholder="图片路径" id="picture_0" name="picture_0" />';
	html += '<input type="button" id="btn_upload_0" class="btn btn-outline btn-primary" value="上传" />';
	html += '<input id="file_upload_0" name="file_upload_0" class="file-upload" type="file" />';
	html += '<button type="button" class="btn btn-default add">+</button>';
	html += '<button type="button" class="btn btn-default dec">-</button>';
	html += '<input type="hidden" value="0" />';
	html += '</div>';		
	$("#picture_list").append(html);
	upload_btn();
	
	if($("#id").val() != "0" && $("#id").val() != "") {
		var data = {
			id: $("#id").val()
		};
		$.get(cfg.web_root + "mgr/data/get", data, function(res) {
			if(res.code == 0) {
				
				$("#name").val(res.data.name);
				$("#sort").val(res.data.sort);
				$("#dataclass_selected").val(res.data.data_class_id);
				$("#dataclass").empty();
				$("#content").val(res.data.content);
				$("#id").val(res.data.id);
				
				if(res.data.is_index_show == 1)
					$("#is_index_show").attr("checked", "checked");
				else
					$("#is_index_show").removeAttr("checked");
				
				if(res.data.is_index_top == 1)
					$("#is_index_top").attr("checked", "checked");
				else
					$("#is_index_top").removeAttr("checked");
				
				if(res.data.recommend == 1)
					$("#recommend").attr("checked", "checked");
				else
					$("#recommend").removeAttr("checked");
				
				req_dataclass();
				
				//图片
				$("#picture_list").empty();
				if(res.data.picture.length > 0) {
					for(var i in res.data.picture) {
						var html = '<div class="picture_div">';
						html += '<input class="form-control" placeholder="图片路径" id="picture_' + i + '" name="picture_' + i + '" value="' + res.data.picture[i] + '" />';
						html += '<input type="button" id="btn_upload_' + i + '" class="btn btn-outline btn-primary" value="上传" />';
						html += '<input id="file_upload_' + i + '" name="file_upload_' + i + '" class="file-upload" type="file" />';
						html += '<button type="button" class="btn btn-default add">+</button>';
						html += '<button type="button" class="btn btn-default dec">-</button>';
						html += '<input type="hidden" value="' + i + '" />';
						html += '</div>';
					
						$("#picture_list").append(html);
					}
				}
				else {
					var html = '<div class="picture_div">';
					html += '<input class="form-control" placeholder="图片路径" id="picture_0" name="picture_0" />';
					html += '<input type="button" id="btn_upload_0" class="btn btn-outline btn-primary" value="上传" />';
					html += '<input id="file_upload_0" name="file_upload_0" class="file-upload" type="file" />';
					html += '<button type="button" class="btn btn-default add">+</button>';
					html += '<button type="button" class="btn btn-default dec">-</button>';
					html += '<input type="hidden" value="0" />';
					html += '</div>';		
					$("#picture_list").append(html);
				}
				
				upload_btn();
				
				$('#content').ckeditor({ 
					height: '450px' 
				});
				$("#btn_submit").val("更新");							
			}
		});
	}
	else {
		$('#content').ckeditor({ 
			height: '450px' 
		});
	}
	
	$("#main_form").validate({
		rules: {
			name: {
				required: true
			},
			sort: {
				required: true,
				digits: true
			}
		},
		messages: {
			name: {
				required: "没有填写名称"
			},
			sort: {
				required: "没有填写排序",
				number: "请输入整数"
			}				
		},
		submitHandler: function(form) {
			
			if($("#type").val() == "1") {
				if($("#data_class_id").val() == "0" || $("#data_class_id").val() == "") {
					$("#dialog_alert").find(".modal-body").html("没有选择分类");
					$("#dialog_alert").modal("show");	
					return false;
				}
			}
			
			var data = {
				id: $("#id").val(),
				name: $("#name").val(),
				sort: $("#sort").val(),
				data_class_id: $("#data_class_id").val(),
				content: $("#content").val(),
				type: $("#type").val(),
				is_index_show: $("#is_index_show").is(':checked') ? 1 : 0,
				is_index_top: $("#is_index_top").is(':checked') ? 1 : 0,
				recommend: $("#recommend").is(':checked') ? 1 : 0,
				picture: []
			};
			
			$("input[id ^= 'picture_']").each(function() {
				if($(this).val() && $(this).val() != "") {
					data.picture.push($(this).val());
				}
			});
			
			$.ajax({
				url: cfg.web_root + "mgr/data/add",
				type: "post",
				dataType: "json",
				data: data,
				beforeSend: function() {
					$("#btn_submit").attr("disabled", true);
				},
				success: function(res, status) {
					if(res.code == 0) {
						$(".btn-change").get(0).click();
					}
					else {
						$("#dialog_alert").find(".modal-body").html(res.msg);
						$("#dialog_alert").modal("show");	
					}
				},
				complete: function() {
					$("#btn_submit").attr("disabled", false);
				}
			});
			
			return false;
		}
	});
});

</script>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="{$Think.config.web_res_root}mgr/js/common.js"></script>
</body>

</html>
