<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{include file="common/header" /}
	{include file="common/css" /}			
</head>

<body>
    <div id="wrapper">
		{include file="common/dialog" /}
		
        <!-- Navigation -->
		{include file="common/navbar" /}

        <div id="page-wrapper">
            <!-- 内容部分 -->
			
			<div class="row" id="getlist_table">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	{$Think.config.data_type_name[$Request.param.type]}管理 - <span class="table_title">{$Think.config.data_type_name[$Request.param.type]}列表</span>
                            <button type="button" class="btn btn-success btn-xs" id="btn_add">添加{$Think.config.data_type_name[$Request.param.type]}</button>
                        </div>
                        <div class="panel-body">
							<input type="hidden" id="type" name="type" value="{$Request.param.type}" />
							
							<div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="datalist">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>名称</th>
											<th>类别</th>
											<th>点击</th>
                                            <th>时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            
							<div id="page_nav">
								<span id="page_index">页次 <span id="page">1</span> / <span id="page_count">10</span></span>
								<button class="btn btn-outline btn-link" type="button" id="page_first">首页</button>
								<button class="btn btn-outline btn-link" type="button" id="page_prev">上一页</button>
								<button class="btn btn-outline btn-link" type="button" id="page_next">下一页</button>
								<button class="btn btn-outline btn-link" type="button" id="page_last">末页</button>
							</div>
                            
                        </div>
                    </div>
                </div>
            </div>
			
			<div class="row" id="add_table">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	{$Think.config.data_type_name[$Request.param.type]}管理 - <span class="table_title">添加{$Think.config.data_type_name[$Request.param.type]}</span>
                            <button type="button" class="btn btn-success btn-xs" id="btn_getlist">{$Think.config.data_type_name[$Request.param.type]}列表</button>
                        </div>
                        <div class="panel-body">
                            
							<form id="main_form" role="form">
								<div class="form-group">
									<table>
										<tr>
											<td class="title_column">
												<label>名称：</label>
											</td>
											<td>
												<input class="form-control" placeholder="请输入名称" id="name" name="name" />
											</td>
										</tr>										
										<tr {if condition="$Request.param.type != 1"}style="display: none;"{/if}>
											<td class="title_column">
												<label>类别：</label>
											</td>
											<td>
												<input id="dataclass_selected" type="hidden" value="0" />
												<div id="dataclass"></div>
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>排序：</label>
											</td>
											<td>
												<input class="form-control" id="sort" name="sort" type="number" value="0" />
											</td>
										</tr>
										<tr {if condition="$Request.param.type == 2"}style="display: none;"{/if}>
											<td class="title_column">
												<label>图片：</label>
											</td>
											<td id="picture_list">
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>显示：</label>
											</td>
											<td>
												<label class="checkbox-inline">
													<input type="checkbox" name="is_index_show" id="is_index_show" value="1" />首页显示
												</label>
												<label class="checkbox-inline" {if condition="$Request.param.type == 1"}style="display: none;"{/if}>
													<input type="checkbox" name="is_index_top" id="is_index_top" value="1" />顶部显示
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="recommend" id="recommend" value="1" />推荐
												</label>
											</td>
										</tr>
										<tr>
											<td class="title_column">
												<label>内容：</label>
											</td>
											<td>
												<textarea id="content" name="content"></textarea>							
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="btn_submit_div">
													<input type="hidden" id="id" name="id" value="0" />
													<input type="hidden" id="type" name="type" value="{$Request.param.type}" />
													<input type="submit" id="btn_submit" class="btn btn-outline btn-primary" value="添加" />
												</div>
											</td>
										</tr>
									</table>									
								</div>
							</form>
							
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	{include file="common/js" /}			
	<script src="{$Think.config.web_res_root}mgr/js/data/show.js"></script>
</body>

</html>
