a:link {
	color: #777;
	text-decoration: none;				
}
a:hover {
	color: #777;
	text-decoration: none;
}
a:visited {
	color: #777;
	text-decoration: none;
}

.btn-link {
    color: #777;
}

#getlist_table, #add_table, #first_row {
	padding-top: 15px
}

#btn_add, #btn_getlist {
	float: right;
}

.error {
	padding-left: 10px;
	color: red;
	
}

#page_nav {
	text-align: right;
}

#page_index {
	font-size: 16px;
}

#main_leftnav {
	margin-bottom: 0;
}

.btn-change:link {
	color: #fff;
	text-decoration: none;				
}
.btn-change:hover {
	color: #fff;
	text-decoration: none;
}
.btn-change:visited {
	color: #fff;
	text-decoration: none;
}

.btn-change {
	float: right;
}

.row {
    padding-top: 15px;
}

#page_index, #page_data_total {
    font-size: 16px;
}
